<#assign ctx=request.getContextPath()>
<#include "../../theBackGround-header.html"/>
				<div class="row">
						<div class="panel-body col-xs-12">
							<form action="" class="form-horizontal row-border">
										菜单名称<input type="text"  id="menuName_id"
											   placeholder="请输入:菜单名称">
										选择父菜单<select id="menuParentId_id">
											<option value="0">顶级菜单</option>
										</select>
									<a class="btn btn-success-alt btn-sm"
									   style="margin-left:10px;float:left;" onclick="searchData('/menu/selectMenuListByParam.html')" data-type="btn-search"> <i
											class="fa fa-search"></i>
									</a>
							</form>
						</div>
						<div class="panel-body" id="contentid">
								<div class="button-group" style="float:right">
									<button type="button" class="button button-pill button-small button-primary" data-toggle="modal" data-target="#myModal">新增</button>
									<button type="button" class="button button-pill button-small button-primary">编辑</button>
									<button type="button" class="button button-pill button-small button-primary">删除</button>
								</div>
							<table id="menuTable">
							</table>
						</div>
				</div><!-- /.row -->

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					新增菜单
				</h4>
			</div>
			<div class="modal-body">
				<form id="addMenu_form_id">
					选择父级菜单
					<select name="menuParentId" id="menuParentId_add">
						<option value="0">无</option>
					</select>
					菜单名称<input name="menuName"/>
					菜单链接<input name="menuHref"/>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" onclick="addData()">
					提交
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
<#include "../../theBackGround-footer.html"/>
<script type="text/javascript">
	var parentMenuOption = "";
    //url = "/menu/selectMenuListByParam.html";
	var url = "/menu/selectMenuListByParam.html";
    $(function(){
        //加载菜单表格
        searchData(url);
        //查询所有的顶级菜单  即父级菜单
		selectAllParentMenu();
    });
    //查询数据
	function searchData(url){
        $("#menuTable").bootstrapTable('destroy').bootstrapTable({
            url: url,
            pagination: true,
            pageSize: 20,
            pageList: [20,50,100],
            sidePagination: "server",
            queryParams: function (params) {
                return {
                    menuParentId:$("#menuParentId_id").val(),//父级菜单id
                    menuName:$("#menuName_id").val(),
                	pageSize: params.limit,
                    pageNumber: params.offset,
                    sortOrder: params.order,
                    sortName: params.sort
            }
            },
            striped:true,
            clickToSelect: true,
            toolbar: "#toolbar",
            locale: "zh-CN",
            columns: [{
                field: 'Number',
                title: '序号',
                align: "center",
                width:'3%',
                formatter: function (value, row, index) {
                    return index + 1;
                }
            },{
                field: 'menuParentId',
                title: '是否顶级菜单',
                align: "center",
                width:'15%',
                formatter: function (value, row, index) {
                    if(value != null && value == "0"){
                        return "是"
                    }else{
                        return "否";
                    }
                }
            },{
                field: 'menuName',
                title: '菜单名称',
                align: "center",
                width:'15%'
            },{
                field: 'menuHref',
                title: '菜单链接',
                align: "center",
                width:'15%'
            },{
                field: 'createDate',
                title: '创建日期',
                align: "center",
                width:'15%',
                formatter: function (value, row, index) {
                    if(value != null && value != "" && value != undefined && value != "undefined"){
                        return wDateFormat(new Date(value), "yyyy-MM-dd HH:mm:ss")
                    }else{
                        return value;
                    }
                }
            }]
        });
	}
	//查找所有的父级菜单
    function selectAllParentMenu() {
        parentMenuOption = "";
        $.ajax({
            url:"/menu/selectAllParentMenu.html",
            type:"POST",
            dataType:"json",
            success:function (data) {
                if(data != null){
                    for(var i=0;i<data.length;i++){
                        parentMenuOption = parentMenuOption+"<option value=\""+data[i].menuId+"\">"+data[i].menuName+"</option>";
                    }
                }
                $("#menuParentId_id").append(parentMenuOption);
                $("#menuParentId_add").append(parentMenuOption);
            }
        });
    }
	//实际新增数据
    function addData(){
        var vo = $('#addMenu_form_id').serializeJSON();
	    $.ajax({
                 	url:"/menu/insertMenu.html",
                	dataType:"json",
                	method:"post",
					data:{vo:vo},
				  	success:function(data){
							if(data.state != null && data.state == true){
								alert("新增菜单成功！");
								$("#myModal").modal("hide");
                                searchData("/menu/selectMenuListByParam.html");
							}
					}
		});
    }
    //弹出编辑窗口
    function editModal(){
        alert("edit");
    }
    //删除
    function deleteRows(){
        alert("delete");
    }
</script>
