spring:
    datasource:
        url: jdbc:mysql://47.105.117.115:3306/see_movie?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true
        #url: jdbc:mysql://127.0.0.1:3306/see_movie?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true
        username: root
        password: PP521mm.
        #password: root
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20
mybatis:
  mapper-locations: classpath:mapping/*.xml
  type-aliases-package: com.seeMovie.mapper

#pagehelper分页插件
pagehelper:
    helperDialect: mysql
    reasonable: true
    supportMethodsArguments: true
    params: count=countSql