<#assign ctx=request.getContextPath()>
<#include "../../theBackGround-header.html"/>
				<div class="row">
					<div class="panel-body col-xs-12">
						<form action="" class="form-horizontal row-border" autocomplete="off">
							网站名称<input type="text"  id="webName_id" placeholder="请输入:网站名称">
							<a class="btn btn-success-alt btn-sm"
							   style="margin-left:10px;float:left;" onclick="searchData('/webLinks/selectAllWebLinksByParam.html')" data-type="btn-search"> <i
									class="fa fa-search"></i>
							</a>
						</form>
					</div>
						<div class="panel-body" id="contentid">
							<div class="button-group" style="float:right">
								<button type="button" class="button button-pill button-small button-primary" data-toggle="modal" data-target="#myModal">新增</button>
								<button type="button" class="button button-pill button-small button-primary" onclick="beforeEdit()">编辑</button>
								<button type="button" class="button button-pill button-small button-primary" onclick="deleteData()">删除</button>
							</div>
							<table id="movieTable">
							</table>
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					新增待爬取网站
				</h4>
			</div>
			<div class="modal-body">
				<form id="add_form_id" autocomplete="off">
					网站名称<input  type="text" name="webName"/>
					网站链接<input  type="text" name="webLink" width="280px;"/>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" onclick="addData()">
					提交
				</button>
			</div>
		</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->

	<!-- 编辑form -->
					<form id="edit_form" style="display: none" autocomplete="off">
						<input type="hidden" name="webId" id="webId_edit_id">
						<input type="hidden" name="crawlFlag" id="crawlFlag_edit_hidden_id"/>
						网站名称<input name="webName" id="webName_edit_id"/>
						网站链接<input name="webLink" id="webLink_edit_id"/>
						网站爬取状态<input type="checkbox" id="crawlFlag_edit_id"/>
					</form>
<#include "../../theBackGround-footer.html"/>
<script type="text/javascript">
    var url = "/webLinks/selectAllWebLinksByParam.html";
    $(function(){
        searchData(url);
    });
    //查询数据
	function searchData(url){
        $("#movieTable").bootstrapTable('destroy').bootstrapTable({
            url: url,
            pagination: true,
            pageSize: 100,
            pageList: [100,300,500,1000,1500],
            sidePagination: "server",
            queryParams: function (params) {
                return {
                    webName:$("#webName_id").val(),
                    pageSize: params.limit,
                    pageNumber: params.offset,
                    sortOrder: params.order,
                    sortName: params.sort
            }
            },
            striped:true,
            clickToSelect: true,
            toolbar: "#toolbar",
            locale: "zh-CN",
            columns: [{
                field: "select",
                checkbox: true,
                width:'3%',
                align: "center",
                valign: "middle"
         },{
            field: 'Number',
            title: '序号',
            align: "center",
            width:'3%',
            formatter: function (value, row, index) {
                return index + 1;
            }
        },{
             field: 'webName',
             title: '名称',
             align: "center",
			 width:'8%'
        },{
            field: 'webLink',
            title: '网站链接',
            align: "center",
            width:'15%'
        },{
            field: 'crawlFlag',
            title: '爬取标志',
            align: "center",
            width:'3%'
        },{
            field: 'insertDate',
            title: '增加链接时时间',
            align: "center",
            width:'8%',
            formatter: function (value, row, index) {
                if(value != null && value != "" && value != undefined && value != "undefined"){
                    return wDateFormat(new Date(value), "yyyy-MM-dd HH:mm:ss")
                }else{
                    return value;
                }
            }
        },{
            field: 'updateDate',
                title: '更新链接状态时间',
                align: "center",
                width:'8%',
                formatter: function (value, row, index) {
                if(value != null && value != "" && value != undefined && value != "undefined"){
                    return wDateFormat(new Date(value), "yyyy-MM-dd HH:mm:ss")
                }else{
                    return value;
                }
            }
        }]
        });
	}
    //实际新增数据
    function addData(){
        var vo = $('#add_form_id').serializeJSON();
        $.ajax({
            url:"/webLinks/addOrUpdateWebLink.html",
            dataType:"json",
            method:"post",
            data:{vo:vo},
            success:function(data){
                if(data.status != null && data.status == true){
                    $("#myModal").modal("hide");
                    bootbox.alert({
                        message: "新增待爬取网站成功！",
                        size: 'small'
                    });
                    searchData("/webLinks/selectAllWebLinksByParam.html");
                }else{
                    bootbox.alert({
                        message: "新增待爬取网站失败！",
                        size: 'small'
                    });
				}
            }
        });
    }
    //编辑数据前选中行
	function beforeEdit(){
        var selectRow =  $('#movieTable').bootstrapTable('getSelections');
        if(selectRow == null || selectRow == ''||selectRow.length>1){
            bootbox.alert({
                message: "仅能选择一条要编辑的记录！",
                size: 'small'
            });
        }else {
			$("#webId_edit_id").val(selectRow[0].webId);
            $("#webName_edit_id").val(selectRow[0].webName);
            $("#webLink_edit_id").val(selectRow[0].webLink);
            if(selectRow[0].crawlFlag == "Y"){
                $("#crawlFlag_edit_id").prop("checked",true);
			}else if(selectRow[0].crawlFlag == "N"){
                $("#crawlFlag_edit_id").prop("checked",false);
			}
			$("#edit_form").css("display","");
            bootbox.confirm({
                title: "确定修改当前数据?",
                message: $("#edit_form"),
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if($("#crawlFlag_edit_id").prop("checked") == true){
						$("#crawlFlag_edit_hidden_id").val("Y");
                    }else{
                        $("#crawlFlag_edit_hidden_id").val("N");
                    }
                    var vo = $('#edit_form').serializeJSON();
                    if(result == true){
                        $.ajax({
                            url:"/webLinks/addOrUpdateWebLink.html",
                            dataType:"json",
                            method:"post",
                            data:{vo:vo},
                            success:function(data){
                                if(data!= null && data.status == true){
                                    bootbox.alert({
                                        message: "编辑数据成功！",
                                        size: 'small'
                                    });
                                    searchData("/webLinks/selectAllWebLinksByParam.html");
                                }else{
                                    bootbox.alert({
                                        message: "编辑数据失败！",
                                        size: 'small'
                                    });
                                }
                            }
                        })
                    }
                }
            });
        }
	}
    //删除
    function deleteData(){
        var selectRow =  $('#movieTable').bootstrapTable('getSelections');
        if(selectRow == null || selectRow == ''){
            bootbox.alert({
                message: "请先选择要删除的数据！",
                size: 'small'
            });
        }else {
            var ids = new Array();
            for(var i = 0;i < selectRow.length; i++) {
                ids.push(selectRow[i].webId);
            }
            ids = ids.join(",");
            bootbox.confirm({
                message: "确定要删除选择的数据吗?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if(result == true){
                        $.ajax({
                            type: "POST",
                            url: "/webLinks/deleteWebLink.html",
                            data: {ids:ids},
                            dataType: "json",
                            success:function(data){
                                if(data.status != null && data.status == true){
                                    bootbox.alert({
                                        message: "删除数据成功！",
                                        size: 'small'
                                    });
                                    searchData("/webLinks/selectAllWebLinksByParam.html");
                                }else{
                                    bootbox.alert({
                                        message: "删除数据失败！",
                                        size: 'small'
                                    });
                                }
                            }
                        })
                    }
                }
            });
        }
    }
</script>