<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeMovie.mapper.MovieMapper">
  <!-- 查找所有电影信息 -->
  <select id="selectAllMovieVo" resultType="com.seeMovie.pojo.MovieVo" parameterType="map">
	select m.movie_id as movieId,m.down_href as downHref,m.movie_name as
	movieName,m.category as category,m.synchronous_flag as synchronousFlag, m.source as source,m.img_url as imgUrl,m.img_url2 as imgUrl2,m.describes as
	describes,m.insert_date as insertDate,m.remarks as remarks 
	from movie m
	where 1=1
	<if test="category != null and category != ''">
    and category =#{category}
    </if>
	order by m.insert_date
	<if test="currentPage != null and pageSize !=null">
	LIMIT ${(currentPage-1)*pageSize}, ${pageSize}
	</if>
 </select>
 <!-- 查找所有符合条件的总数 -->
  <select id="selectMovieVoCount" resultType="int" parameterType="map">
  select count(1) from movie where 1=1
  <if test="category != null and category != ''">
  and category =#{category}
  </if>
  </select>
 <!-- 保存当前电影资源-->
  <insert id="insertDownHrefByVo" parameterType="com.seeMovie.pojo.MovieVo">
    insert into movie (movie_id,category, down_href, movie_name, 
      source, img_url,img_url2, describes, 
      insert_date, remarks,synchronous_flag)
    values (#{movieId,jdbcType=VARCHAR},#{category,jdbcType=INTEGER}, #{downHref,jdbcType=VARCHAR}, #{movieName,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR},#{imgUrl2,jdbcType=VARCHAR}, #{describes,jdbcType=VARCHAR}, 
      #{insertDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},#{synchronousFlag,jdbcType=VARCHAR})
  </insert>
  <!-- 根据保存的截取链接判断当前数据是否存在  存在则不保存 -->
  <select id="selectDownHrefVoByHref" parameterType="java.lang.String" resultType="int">
  select count(1) from movie where 1=1
  <if test="value !=null and value !=''">
  and down_href = #{value}
  </if>
  </select>
  <!-- 根据电影id查看电影详情-->
  <select id="getMovieDetail" resultType="com.seeMovie.pojo.MovieVo" parameterType="java.lang.String">
  select m.movie_id as movieId,m.down_href as downHref,m.movie_name as
	movieName,m.source as source,m.img_url as imgUrl,m.img_url2 as imgUrl2,m.describes as
	describes,m.insert_date as insertDate,m.remarks as remarks,m.category as category,m.synchronous_flag as synchronousFlag from movie m
	where 1=1
	<if test="value != null and value != ''">
 	and m.movie_id =#{value}	
	</if>
  </select>
  <!-- 拿到所点category为1并且同步标志为N且同步时间为null的影片-->
  <select id="getAllMovie" resultType="com.seeMovie.pojo.MovieVo">
  select m.movie_id as movieId,m.down_href as downHref,m.movie_name as
	movieName,m.img_url as imgUrl,m.img_url2 as imgUrl2 from movie m
	where m.category = '1' and m.synchronous_flag = 'N' and m.update_date is null order by m.insert_date desc
  </select>
  <!-- 根据影片id更新影片信息 -->
  <update id="updateMovieInfoByMovieIdList" parameterType="java.util.List">
  update movie set synchronous_flag = 'Y',category = '2',update_date = now()
  where movie_id in
  <foreach collection="allUpdateMovieId" item="item" open="(" separator="," close=")">
  #{item}
  </foreach>
  </update>
</mapper>