<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeMovie.mapper.MovieMapper">
  <!-- 查找所有电影信息 -->
  <select id="selectAllMovieVo" resultType="com.seeMovie.pojo.MovieVo" parameterType="map">
	select m.movie_id as movieId,m.down_href as downHref,m.movie_name as
	movieName,m.category as category,m.synchronous_flag as synchronousFlag, m.source as source,m.img_url as imgUrl,m.img_url2 as imgUrl2,m.describes as
	describes,m.insert_date as insertDate,m.remarks as remarks 
	from movie m
	where 1=1
	<if test="category != null and category != ''">
    and category =#{category}
    </if>
	order by m.insert_date
	<if test="currentPage != null and pageSize !=null">
	LIMIT ${(currentPage-1)*pageSize}, ${pageSize}
	</if>
 </select>
 <!-- 查找所有符合条件的总数 -->
  <select id="selectMovieVoCount" resultType="int" parameterType="map">
  select count(1) from movie where 1=1
  <if test="category != null and category != ''">
  and category =#{category}
  </if>
  </select>
 <!-- 保存当前电影资源-->
  <insert id="insertDownHrefByVo" parameterType="com.seeMovie.pojo.MovieVo">
    insert into movie (movie_id,category, down_href, movie_name, 
      source, img_url,img_url2, describes, 
      insert_date, remarks,synchronous_flag)
    values (#{movieId,jdbcType=VARCHAR},#{category,jdbcType=INTEGER}, #{downHref,jdbcType=VARCHAR}, #{movieName,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR},#{imgUrl2,jdbcType=VARCHAR}, #{describes,jdbcType=VARCHAR}, 
      #{insertDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR},#{synchronousFlag,jdbcType=VARCHAR})
  </insert>
  <!-- 根据保存的截取链接判断当前数据是否存在  存在则不保存 -->
  <select id="selectDownHrefVoByHref" parameterType="java.lang.String" resultType="int">
  select count(1) from movie where 1=1
  <if test="value !=null and value !=''">
  and down_href = #{value}
  </if>
  </select>
  <!-- 根据电影id查看电影详情-->
  <select id="getMovieDetail" resultType="com.seeMovie.pojo.MovieVo" parameterType="java.lang.String">
  select m.movie_id as movieId,m.down_href as downHref,m.movie_name as
	movieName,m.source as source,m.img_url as imgUrl,m.img_url2 as imgUrl2,m.describes as
	describes,m.insert_date as insertDate,m.remarks as remarks,m.category as category,m.synchronous_flag as synchronousFlag from movie m
	where 1=1
	<if test="value != null and value != ''">
 	and m.movie_id =#{value}	
	</if>
  </select>
  <!-- 根绝条件查询对应的影片的影片-->
  <select id="getAllMovie" resultType="com.seeMovie.pojo.MovieVo">
  select m.movie_id as movieId,m.down_href as downHref,m.movie_name as
	movieName,m.img_url as imgUrl,m.img_url2 as imgUrl2 from movie m
	where 1=1 
	<!-- 影片类别 -->
	<if test="category != null and category != ''">
	and m.category =#{category}
	</if>
	<!-- 影片类别是否同步标志 -->
	<if test="synchronousFlag != null and synchronousFlag != ''">
	and m.synchronous_flag =#{synchronousFlag}
	</if>
	<!-- 同步影片类别时需要 -->
	<if test="synchronousFlagType != null and synchronousFlagType != ''">
	and m.update_date is null
	</if>
	<!-- 同步图片url时需要 -->
	<if test="synchronousImgUrlFlage != null and synchronousImgUrlFlage != ''">
	and m.synchronous_imgUrl_flage =#{synchronousImgUrlFlage}
	</if>
	order by m.insert_date desc
  </select>
  <!-- 根据影片id更新影片信息 -->
  <update id="updateMovieInfoByMovieIdList" parameterType="java.util.List">
  <if test="type != null and type == 'dianshi'">
  update movie set synchronous_flag = 'Y',category = '2',update_date = now()
  where movie_id in
  <foreach collection="allUpdateMovieIdList" item="item" open="(" separator="," close=")">
    #{item}
  </foreach>
  </if>
  <if test="type != null and type == 'movie'">
   update movie set synchronous_flag = 'Y',update_date = now()
   where movie_id in
   <foreach collection="allUpdateMovieIdList" item="item" open="(" separator="," close=")">
    #{item}
   </foreach>
  </if>
  </update>
  <!-- 根据影片id更新影片信息，更新已存在值得对应字段-->
  <update id="updateMovieByList" parameterType="java.util.List">
  <foreach collection="updateMovieList" item="item" separator=";">
    update movie set img_url=#{item.imgUrl},img_url2=#{item.imgUrl2},synchronous_imgUrl_flage='Y'
	where movie_id=#{item.movieId}
  </foreach>
  </update>
  <!-- 每次查询两条网站初始化链接-->
  <select id="getWebLinksVo" resultType="com.seeMovie.pojo.WebLinksVo">
  select web_id as webId, web_name as webName, web_link as webLink, crawl_flag as crawlFlag, insert_date as insertDate, update_date as updateDate
    from web_links
	where crawl_flag = "N"
	limit 2
  </select>
</mapper>