<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeMovie.mapper.MovieMapper" >
  <resultMap id="BaseResultMap" type="com.seeMovie.pojo.MovieVo" >
    <result column="movie_id" property="movieId" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="downLoad_href" property="downLoadHref" jdbcType="VARCHAR" />
    <result column="movie_name" property="movieName" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="img_url2" property="imgUrl2" jdbcType="VARCHAR" />
    <result column="douban_score" property="doubanScore" jdbcType="DECIMAL" />
    <result column="produce_year" property="produceYear" jdbcType="VARCHAR" />
    <result column="produce_country" property="produceCountry" jdbcType="VARCHAR" />
    <result column="describes" property="describes" jdbcType="VARCHAR" />
    <result column="synchronous_flag" property="synchronousFlag" jdbcType="VARCHAR" />
    <result column="synchronous_imgUrl_flage" property="synchronousImgUrlFlage" jdbcType="VARCHAR" />
    <result column="insert_date" property="insertDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="search_score" property="searchScore" jdbcType="INTEGER" />
    <result column="see_or_downLoad_score" property="seeOrdownLoadScore" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.seeMovie.pojo.MovieVo" >
    insert into movie (movie_id, category, downLoad_href, 
      movie_name, source, img_url, 
      img_url2, douban_score, produce_year, 
      produce_country, describes, synchronous_flag, 
      synchronous_imgUrl_flage, insert_date, update_date, 
      search_score, see_or_downLoad_score, remarks
      )
    values (#{movieId,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{downLoadHref,jdbcType=VARCHAR}, 
      #{movieName,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{imgUrl2,jdbcType=VARCHAR}, #{doubanScore,jdbcType=DECIMAL}, #{produceYear,jdbcType=VARCHAR}, 
      #{produceCountry,jdbcType=VARCHAR}, #{describes,jdbcType=VARCHAR}, #{synchronousFlag,jdbcType=VARCHAR}, 
      #{synchronousImgUrlFlage,jdbcType=VARCHAR}, #{insertDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP},
      #{searchScore,jdbcType=INTEGER}, #{seeOrdownLoadScore,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select movie_id, category, downLoad_href, movie_name, source, img_url, img_url2, douban_score, 
    produce_year, produce_country, describes, synchronous_flag, synchronous_imgUrl_flage, 
    insert_date, update_date, search_score, see_or_downLoad_score, remarks
    from movie
  </select>
  <!-- 查找所有符合条件电影信息 -->
  <select id="selectAllMovieVo" resultType="com.seeMovie.pojo.MovieVo" parameterType="map">
	select m.movie_id as movieId,m.movie_name as
	movieName,m.category as category,m.img_url as imgUrl,m.img_url2 as imgUrl2
	from movie m
	where 1=1
	<if test="category != null and category != '' and category != 'all'">
    and category =#{category}
    </if>
    <if test="category != null and category == 'all'">
    and category != 'teleplay'<!-- 全部 既是类型不是电视剧的 -->
    </if>
    <if test="countryName != null and countryName != ''">
    and produce_country =#{countryName}
    </if>
    <if test="noCountry != null and noCountry != ''">
    and (produce_country is null or  produce_country  = '')
    </if>
    <if test="year != null and year != ''">
    and produce_year = #{year}
    </if>
    <if test="movieName != null and movieName != ''">
        and movie_name like concat("%",#{movieName},"%")
    </if>
	order by m.insert_date desc
	<if test="currentPage != null and pageSize !=null">
	LIMIT ${(currentPage-1)*pageSize}, ${pageSize}
	</if>
 </select>
 <!-- 查找所有符合条件的总数 -->
  <select id="selectMovieVoCount" resultType="int" parameterType="map">
  select count(1) from movie where 1=1
      <if test="category != null and category  != '' and category != 'all'">
          and category =#{category}
      </if>
      <if test="category != null and category == 'all'">
          and category != 'teleplay'<!-- 全部 既是类型不是电视剧的 -->
      </if>
      <if test="countryName != null and countryName != ''">
          and produce_country =#{countryName}
      </if>
      <if test="noCountry != null and noCountry != ''">
          and (produce_country is null or  produce_country  = '')
      </if>
      <if test="year != null and year != ''">
          and produce_year =#{year}
      </if>
      <if test="movieName != null and movieName != ''">
          and movie_name like concat("%",#{movieName},"%")
      </if>
  </select>
 <!-- 保存当前电影资源-->
  <insert id="insertDownLoadHrefByVo" parameterType="com.seeMovie.pojo.MovieVo">
   insert into movie (movie_id, category, downLoad_href,
      movie_name, source, img_url, 
      img_url2, douban_score, produce_year, 
      produce_country, describes, synchronous_flag, 
      synchronous_imgUrl_flage, insert_date, update_date, 
      search_score, see_or_downLoad_score, remarks
      )
    values (#{movieId,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{downLoadHref,jdbcType=VARCHAR}, 
      #{movieName,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{imgUrl2,jdbcType=VARCHAR}, #{doubanScore,jdbcType=DECIMAL}, #{produceYear,jdbcType=VARCHAR}, 
      #{produceCountry,jdbcType=VARCHAR}, #{describes,jdbcType=VARCHAR}, #{synchronousFlag,jdbcType=VARCHAR}, 
      #{synchronousImgUrlFlage,jdbcType=VARCHAR}, #{insertDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP},
      #{searchScore,jdbcType=INTEGER}, #{seeOrdownLoadScore,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <!-- 根据保存的截取链接判断当前数据是否存在  存在则不保存 -->
  <select id="selectDownLoadHrefVoByLoadHref" parameterType="java.lang.String" resultType="int">
  select count(1) from movie where 1=1
  <if test="value !=null and value !=''">
  and downLoad_href = #{value}
  </if>
  </select>
  <!-- 根据电影id查看电影详情-->
  <select id="getMovieDetail" resultMap="BaseResultMap" parameterType="java.lang.String">
  select movie_id,downLoad_href,movie_name,img_url,img_url2,describes,
	douban_score,produce_year, produce_country,see_or_downLoad_score
	from movie
	where 1=1
	<if test="value != null and value != ''">
 	and movie_id =#{value}	
	</if>
  </select>
  <!-- 根据条件查询对应的影片-->
  <select id="getAllMovie" resultType="com.seeMovie.pojo.MovieVo" parameterType="map">
  select m.movie_id as movieId,m.downLoad_href as downLoadHref,m.movie_name as
	movieName,m.img_url as imgUrl,m.img_url2 as imgUrl2 from movie m
	where 1=1 
	<!-- 影片类别 -->
	<if test="category != null and category != ''">
	and m.category =#{category}
	</if>
	<!-- 影片类别是否同步标志 -->
	<if test="synchronousFlag != null and synchronousFlag != ''">
	and m.synchronous_flag =#{synchronousFlag}
	</if>
	<!-- 同步影片类别时需要 -->
	<if test="synchronousFlagType != null and synchronousFlagType != ''">
	and m.update_date is null
	</if>
	<!-- 同步图片url时需要 -->
	<if test="synchronousImgUrlFlage != null and synchronousImgUrlFlage != ''">
	and m.synchronous_imgUrl_flage =#{synchronousImgUrlFlage}
	</if>
	order by m.insert_date desc
  </select>
  <!-- 根据影片id更新影片信息 -->
  <update id="updateMovieInfoByMovieIdList" parameterType="java.util.List">
  <if test="type != null and type == 'teleplay'">
  update movie set synchronous_flag = 'Y',category = 'teleplay',update_date = now()
  where movie_id in
  <foreach collection="allUpdateMovieIdList" item="item" open="(" separator="," close=")">
    #{item}
  </foreach>
  </if>
  <if test="type != null and type == 'movie'">
   update movie set synchronous_flag = 'Y',update_date = now()
   where movie_id in
   <foreach collection="allUpdateMovieIdList" item="item" open="(" separator="," close=")">
    #{item}
   </foreach>
  </if>
  </update>
  <!-- 根据影片id更新影片信息，更新已存在值得对应字段-->
  <update id="updateMovieByList" parameterType="java.util.List">
  <foreach collection="updateMovieList" item="item" separator=";">
    update movie set img_url=#{item.imgUrl},img_url2=#{item.imgUrl2},synchronous_imgUrl_flage='Y'
	where movie_id=#{item.movieId}
  </foreach>
  </update>
  <!-- 每次查询两条网站初始化链接-->
  <select id="getWebLinksVo" resultType="com.seeMovie.pojo.WebLinksVo">
  select web_id as webId, web_name as webName, web_link as webLink, crawl_flag as crawlFlag, insert_date as insertDate, update_date as updateDate
    from web_links
	where crawl_flag = "N"
	<!-- limit 2 -->
  </select>
  <!-- 将当前已经爬取过的网站爬取状态改为Y -->
  <update id="updateWebLinks" parameterType="com.seeMovie.pojo.WebLinksVo">
  update web_links set crawl_flag = 'Y',update_date = now()
  where web_id = #{webId}
  </update>
  <!-- 查找所有电影生产国家 -->
  <select id="selectAlCountryList" resultType="java.lang.String" parameterType="map">
   select distinct(ifnull(produce_country,'未知产地')) as countryName from movie
   order by countryName
   </select>
</mapper>