<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeMovie.mapper.VisitUserInfoVoMapper" >
  <resultMap id="BaseResultMap" type="com.seeMovie.pojo.VisitUserInfoVo" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="ip_address" property="ipAddress" jdbcType="VARCHAR" />
    <result column="host_name" property="hostName" jdbcType="VARCHAR" />
    <result column="visit_date" property="visitDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.seeMovie.pojo.VisitUserInfoVo" >
    insert into visit_user_info (id, userName, source, 
      ip, ip_address, host_name, 
      visit_date)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{ipAddress,jdbcType=VARCHAR}, #{hostName,jdbcType=VARCHAR}, 
      #{visitDate,jdbcType=TIMESTAMP})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, userName, source, ip, ip_address, host_name, visit_date
    from visit_user_info
  </select>
  <!--根据用户名查询最近十次登录信息-->
  <select id="selectTheLastTenVisitsByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
    <if test="userName != null and userName != ''">
      select id, userName, source, ip, ip_address, host_name, visit_date
      from visit_user_info where userName = #{userName} order by visit_date desc limit 0,10
    </if>
  </select>
  <!--根据用户名查询所有登录次数-->
  <select id="selectAllVisitNumsByUserName" resultType="int" parameterType="java.lang.String">
  <if test="userName != null and userName != ''">
  select count(1)
  from visit_user_info where userName = #{userName}
  </if>
  </select>
</mapper>