<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeMovie.mapper.VisitUserVoMapper" >
  <resultMap id="BaseResultMap" type="com.seeMovie.pojo.VisitUserVo" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="host_name" property="hostName" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.seeMovie.pojo.VisitUserVo" >
    insert into visit_user_info (id, userName, source, 
      ip, host_name, date
      )
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{hostName,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, userName, source, ip, host_name, date
    from visit_user_info
  </select>
  <!--根据用户名查询最近十次登录信息-->
  <select id="selectTheLastTenVisitsByUserName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select id, userName, source, ip, host_name, date
    from visit_user_info where userName = #{userName} order by date desc limit 0,10
  </select>
  <!--根据用户名查询所有登录次数-->
  <select id="selectAllVisitNumsByUserName" resultType="int" parameterType="java.lang.String">
    select count(1)
    from visit_user_info where userName = #{userName}
  </select>
</mapper>