<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seeMovie.mapper.WebLinksVoMapper" >
  <resultMap id="BaseResultMap" type="com.seeMovie.pojo.WebLinksVo" >
    <result column="web_id" property="webId" jdbcType="VARCHAR" />
    <result column="web_name" property="webName" jdbcType="VARCHAR" />
    <result column="web_link" property="webLink" jdbcType="VARCHAR" />
    <result column="crawl_flag" property="crawlFlag" jdbcType="VARCHAR" />
    <result column="insert_date" property="insertDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.seeMovie.pojo.WebLinksVo" >
    insert into web_links (web_id, web_name, web_link, 
      crawl_flag, insert_date, update_date
      )
    values (#{webId,jdbcType=VARCHAR}, #{webName,jdbcType=VARCHAR}, #{webLink,jdbcType=VARCHAR}, 
      #{crawlFlag,jdbcType=VARCHAR}, #{insertDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select web_id, web_name, web_link, crawl_flag, insert_date, update_date
    from web_links
  </select>
  <!--查询符合条件数据集合-->
  <select id="selectAllWebLinksByParam" resultMap="BaseResultMap" parameterType="map">
    select web_id, web_name, web_link, crawl_flag, insert_date, update_date
    from web_links
    <if test="webLinksVo.webName != null and webLinksVo.webName !=''">
      and web_name like concat("%",#{webLinksVo.webName},"%")
    </if>
    order by insert_date desc
    <if test="currentPage != null and pageSize !=null">
      LIMIT ${(currentPage-1)*pageSize}, ${pageSize}
    </if>
  </select>
  <!--查询符合条件数据总数-->
  <select id="selectAllWebLinksCountByParam" resultType="int" parameterType="map">
    select count(1) from web_links
    <if test="webLinksVo.webName != null and webLinksVo.webName !=''">
      and web_name like concat("%",#{webLinksVo.webName},"%")
    </if>
  </select>
  <!--根据主键id编辑待爬取网站信息-->
  <update id="updateWebLinkVo" parameterType="com.seeMovie.pojo.WebLinksVo">
    UPDATE web_links
    <set>
      <if test="webName != null">
        web_name = #{webName,jdbcType=VARCHAR},
      </if>
      <if test="webLink != null">
        web_link = #{webLink,jdbcType=VARCHAR},
      </if>
      <if test="crawlFlag != null">
        crawl_flag = #{crawlFlag,jdbcType=VARCHAR},
      </if>
      <if test="insertDate != null">
        insert_date = #{insertDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP}
      </if>
    </set>
    WHERE web_id = #{webId,jdbcType=VARCHAR}
  </update>
</mapper>