<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>看吧</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- 导航栏 -->
<nav class="navbar navbar-default" role="navigation" style="background:#AEEEEE;">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="#"><!-- <img alt="看吧" src="..."> -->搜你所搜，看你所看！</a>
	</div>
	<div>
		<ul class="nav nav-pills" style="margin-top:10px;">
			<li><a href="#">经典影片</a></li>
			<li><a href="#">动作科幻</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					爱情文艺
				</a>
				<!-- <ul class="dropdown-menu">
					<li><a href="#">jmeter</a></li>
					<li><a href="#">EJB</a></li>
					<li><a href="#">Jasper Report</a></li>
				</ul> -->
			</li>
		</ul>
	</div>
	</div>
</nav>
<!-- 内容展示区域 -->
<div class="container">
   <!-- 存在电影资源 -->
   <#if movieList?exists && (movieList?size > 0)>
   		<!-- 循环取值 -->
   		<#list movieList as fourMovieList>
   			<!-- 每四个一行 -->
   			<div class="row">
   			<#list fourMovieList as movie>
				<div class="col-xs-6 col-sm-3">
					<a href="" onclick='goToThisPage("${movie.aHref!''}")'> <img
						style="height: 150px; width: 150px;" alt=""
						src="https://img3.doubanio.com/dae/niffler/niffler/images/2c4f36ec-3187-11e8-a133-0242ac110026.jpg"></br>${movie.movieName!''}
					</a>
				</div>
		  	</#list>
		  	</div>
		</#list>
   </#if>
</div>
<!-- 底部分页条 -->
<div>
	<ul class="pagination" style="margin-left:75%;">
		<#if pagingUtil.currentPage == 1>
		    <!-- 第一页前不显示上一页 -->
			<li class="active"><a href="#">${pagingUtil.currentPage}</a></li>
			<!-- 增加几个页码 -->
		    <#if (pagingUtil.currentPage + 4) <= pagingUtil.totalPageSize>
		     	<li><a href="#" onclick='reloadData("${pagingUtil.currentPage + 1}")'>${pagingUtil.currentPage + 1}</a></li>
		     	<li><a href="#" onclick='reloadData("${pagingUtil.currentPage + 2}")'>${pagingUtil.currentPage + 2}</a></li>
		     	<li><a href="#" onclick='reloadData("${pagingUtil.currentPage + 3}")'>${pagingUtil.currentPage + 3}</a></li>
		     	<li><a href="#" onclick='reloadData("${pagingUtil.currentPage + 4}")'>&raquo;</a></li>
		     	<#elseif (pagingUtil.currentPage + 3) <= pagingUtil.totalPageSize>
		     	<li><a href="#" onclick='reloadData("${pagingUtil.currentPage + 1}")'>${pagingUtil.currentPage + 1}</a></li>
		     	<li><a href="#" onclick='reloadData("${pagingUtil.currentPage + 2}")'>${pagingUtil.currentPage + 2}</a></li>
		        <li><a href="#" onclick='reloadData("${pagingUtil.currentPage + 3}")'>&raquo;</a></li>
		     	<#elseif (pagingUtil.currentPage + 2) <= pagingUtil.totalPageSize>
		        <li><a href="#" onclick='reloadData("${pagingUtil.currentPage + 1}")'>${pagingUtil.currentPage + 1}</a></li>
		     	<li><a href="#" onclick='reloadData("${pagingUtil.currentPage + 2}")'>&raquo;</a></li>
		     	<#elseif (pagingUtil.currentPage + 1) <= pagingUtil.totalPageSize>
		     	<li><a href="#" onclick='reloadData("${pagingUtil.currentPage + 1}")'>&raquo;</a></li>
		    </#if>
		    <!-- 最后一页后面不显示下一页 -->
			<#elseif pagingUtil.currentPage == pagingUtil.totalPageSize>
			<!-- 增加几个页码 -->
		    <#if (pagingUtil.currentPage - 4) > 0>
		     	<li><a href="#" onclick='reloadData("${pagingUtil.currentPage - 4}")'>&laquo;</a></li>
		     	<li><a href="#" onclick='reloadData("${pagingUtil.currentPage - 3}")'>${pagingUtil.currentPage - 3}</a></li>
		     	<li><a href="#" onclick='reloadData("${pagingUtil.currentPage - 2}")'>${pagingUtil.currentPage - 2}</a></li>
		     	<li><a href="#" onclick='reloadData("${pagingUtil.currentPage - 1}")'>${pagingUtil.currentPage - 1}</a></li>
		     	<#elseif (pagingUtil.currentPage - 3) > 0>
		     	<li><a href="#" onclick='reloadData("${pagingUtil.currentPage - 3}")'>&laquo;</a></li>
		     	<li><a href="#" onclick='reloadData("${pagingUtil.currentPage - 2}")'>${pagingUtil.currentPage - 2}</a></li>
		     	<li><a href="#" onclick='reloadData("${pagingUtil.currentPage - 1}")'>${pagingUtil.currentPage - 1}</a></li>
		     	<#elseif (pagingUtil.currentPage - 2) > 0>
		     	<li><a href="#" onclick='reloadData("${pagingUtil.currentPage - 2}")'>&laquo;</a></li>
		     	<li><a href="#" onclick='reloadData("${pagingUtil.currentPage - 1}")'>${pagingUtil.currentPage - 1}</a></li>
		     	<#elseif (pagingUtil.currentPage - 1) > 0>
		     	<li><a href="#" onclick='reloadData("${pagingUtil.currentPage - 1}")'>&laquo;</a></li>
		     	<#else>
		    </#if>
		    <li class="active"><a href="#">${pagingUtil.currentPage}</a></li>
		    <!-- 第二页 -->
		    <#elseif (pagingUtil.currentPage == 2)>
		    <li><a href="#" onclick='reloadData("${pagingUtil.currentPage - 1}")'>&laquo;</a></li>
		    <li class="active"><a href="#">${pagingUtil.currentPage}</a></li>
		    <li><a href="#" onclick='reloadData("${pagingUtil.currentPage + 1}")'>${pagingUtil.currentPage + 1}</a></li>
		    <li><a href="#" onclick='reloadData("${pagingUtil.currentPage + 2}")'>${pagingUtil.currentPage + 2}</a></li>
		    <li><a href="#" onclick='reloadData("${pagingUtil.currentPage + 3}")'>${pagingUtil.currentPage + 3}</a></li>
		    <li><a href="#" onclick='reloadData("${pagingUtil.currentPage + 4}")'>&raquo;</a></li>
		    <!-- 第三页 -->
		    <#elseif (pagingUtil.currentPage >= 3)>
		    <li><a href="#" onclick='reloadData("${pagingUtil.currentPage - 2}")'>&laquo;</a></li>
		    <li><a href="#" onclick='reloadData("${pagingUtil.currentPage - 1}")'>${pagingUtil.currentPage -1}</a></li>
		    <li class="active"><a href="#">${pagingUtil.currentPage}</a></li>
		    <li><a href="#" onclick='reloadData("${pagingUtil.currentPage + 1}")'>${pagingUtil.currentPage + 1}</a></li>
		    <li><a href="#" onclick='reloadData("${pagingUtil.currentPage + 2}")'>${pagingUtil.currentPage + 2}</a></li>
		    <li><a href="#" onclick='reloadData("${pagingUtil.currentPage + 3}")'>&raquo;</a></li>
		    <#else>
		    <!-- 非第一页及最后一页且当前页码大于3的情况 -->
		    <!-- 当前页往前增加几个页码 -->
		    
		</#if>
	</ul>
</div>
</body>
<script type="text/javascript">
//打开一个新网页
function goToThisPage(url){
	window.open(url); 
}
//重新加载页面
function reloadData(currentPage){
	var pathName = document.location.pathname;
    var index = pathName.substr(1).indexOf("/");
    window.location.href=pathName.substr(0,index+1)+"/mainPage.html?currentPage="+currentPage;
}
</script>
</html>