<!DOCTYPE html>
<html lang="en">
  <head>
  <#assign ctx=request.getContextPath()>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/favicon.ico" type="image/ico" />
    <title>SeeMovie</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
	<!-- text fonts -->
	<link href="/assets/css/fonts.googleapis.com.css" rel="stylesheet"/>
	<!-- ace styles -->
	<link href="/assets/css/ace.min.css" rel="stylesheet"/>
	<link href="/assets/css/ace-rtl.min.css" rel="stylesheet"/>
  </head>