<!DOCTYPE HTML>
<html>
<head>
<#assign ctx=request.getContextPath()>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico"/>
<link href="/css/H-ui.min.css" rel="stylesheet" type="text/css"/>
<link href="/css/H-ui.admin.css" rel="stylesheet" type="text/css"/>
<link href="/fonts/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
<link href="/skin/green/skin.css" rel="stylesheet" type="text/css"/>
<link href="/css/style.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/js/jquery.min.js"></script> 
<script type="text/javascript" src="/js/H-ui.min.js"></script>
<script type="text/javascript" src="/js/H-ui.admin.js"></script>
<title>SeeMovie</title>
</head>