<!DOCTYPE html>
<html lang="en">
  <head>
  <#assign ctx=request.getContextPath()>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/favicon.ico" type="image/ico" />
    <title>SeeMovie</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- page specific plugin styles -->
    <link href="/assets/css/jquery-ui.min.css"  rel="stylesheet"/>
    <link href="/assets/css/bootstrap-datepicker3.min.css"  rel="stylesheet"/>
    <link href="/assets/css/ui.jqgrid.min.css"  rel="stylesheet"/>
	<!-- text fonts -->
	<link href="/assets/css/fonts.googleapis.com.css" rel="stylesheet"/>
	<!-- ace styles -->
	<link href="/assets/css/ace.min.css" rel="stylesheet"/>
    <link href="/assets/css/ace-skins.min.css" rel="stylesheet"/>
	<link href="/assets/css/ace-rtl.min.css" rel="stylesheet"/>
</head>
	<body class="no-skin">
		<div id="navbar" class="navbar navbar-defaultace-save-state">
			<div class="navbar-container ace-save-state" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href="index.html" class="navbar-brand">
						<small>
							<i class="fa fa-leaf"></i>
							SeeMovie Admin
						</small>
					</a>
				</div>

				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						<li class="light-blue dropdown-modal">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="/assets/images/avatars/user.jpg" alt="Jason's Photo" />
								<span class="user-info">
									<small>Welcome,</small>
									${userName}
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="#">
										<i class="ace-icon fa fa-cog"></i>
										Settings
									</a>
								</li>

								<li>
									<a href="profile.html">
										<i class="ace-icon fa fa-user"></i>
										Profile
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="#">
										<i class="ace-icon fa fa-power-off"></i>
										Logout
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div><!-- /.navbar-container -->
		</div>