<!-- jQuery -->
<script src="/js/jquery.min.js" type="text/javascript"></script>
<!-- Bootstrap -->
<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/js/ace-extra.min.js" rel="stylesheet"></script>
<script src="/assets/js/jquery-ui.custom.min.js" type="text/javascript"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
<script src="/assets/js/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="/assets/js/jquery.sparkline.index.min.js" type="text/javascript"></script>
<script src="/assets/js/ace-extra.min.js" type="text/javascript"></script>
<script src="/assets/js/jquery.flot.min.js" type="text/javascript"></script>
<script src="/assets/js/jquery.flot.pie.min.js" type="text/javascript"></script>
<script src="/assets/js/jquery.flot.resize.min.js" type="text/javascript"></script>
<!-- ace scripts -->
<script src="/assets/js/ace-elements.min.js" type="text/javascript"></script>
<script src="/assets/js/ace.min.js" type="text/javascript"></script>
<!-- page specific plugin scripts -->
<script src="/assets/js/bootstrap-datepicker.min.js type="text/javascript"></script>
<script src="/assets/js/jquery.jqGrid.min.js" type="text/javascript"></script>
<script src="/assets/js/grid.locale-en.js" type="text/javascript"></script>
