<#assign ctx=request.getContextPath()>
<#include "../theBackGround-header.html"/>
						<div class="row">
							<div class="col-xs-12">
							
							<!-- PAGE CONTENT BEGINS -->
								<div class="alert alert-block alert-success">
									<button type="button" class="close" data-dismiss="alert">
										<i class="ace-icon fa fa-times"></i>
									</button>

									<i class="ace-icon fa fa-check green"></i>

									Welcome ${userName} to
									<strong class="green">
										SeeMovie
										<small>(v1.0)</small>
									</strong>,这是您第${loginNum}次使用本系统！您最近10次登录ip详情如下！
								</div>

								<div class="row">
									<div class="space-6"></div>

									<div class="col-sm-6">
									<div class="panel-body" id="contentid">
										<table id="VisitUserInfoVo">
											<thead>
											<tr>
												<th style="text-align: center; width: 5%;">序号</th>
												<th style="text-align: center; width: 10%;">IP</th>
												<th style="text-align: center; width: 10%;">ipAddress</th>
												<th style="text-align: center; width: 10%;">访问日期</th>
											</tr>
											</thead>
											<#if VisitUserInfoVoList?exists && (VisitUserInfoVoList?size>0)>
											<tbody>
											<#list VisitUserInfoVoList as VisitUser>
													<tr>
														<td style="text-align: center; width: 5%;">${VisitUser_index + 1}</td>
														<td style="text-align: center; width: 10%;">${VisitUser.ip!''}</td>
														<td style="text-align: center; width: 10%;">${VisitUser.ipAddress!''}</td>
														<td style="text-align: center; width: 10%;">${VisitUser.visitDateStr!''}</td>
													</tr>
											</#list>
											</tbody>
										    </#if>
										</table>
									</div>
							</div>

									<div class="vspace-12-sm"></div>

									<div class="col-sm-6">
										<h2 align="center">网站当日总访问量：${totalVisitOfToday}</h2>
										<div class="widget-box">
											<div class="widget-header widget-header-flat widget-header-small">
												<h5 class="widget-title">
													<i class="ace-icon fa fa-signal"></i>
													Traffic Sources
												</h5>

												<div class="widget-toolbar no-border">
													<div class="inline dropdown-hover">
														<button class="btn btn-minier btn-primary">
															This Week
															<i class="ace-icon fa fa-angle-down icon-on-right bigger-110"></i>
														</button>

														<ul class="dropdown-menu dropdown-menu-right dropdown-125 dropdown-lighter dropdown-close dropdown-caret">
															<li class="active">
																<a href="#" class="blue">
																	<i class="ace-icon fa fa-caret-right bigger-110">&nbsp;</i>
																	This Week
																</a>
															</li>

															<li>
																<a href="#">
																	<i class="ace-icon fa fa-caret-right bigger-110 invisible">&nbsp;</i>
																	Last Week
																</a>
															</li>

															<li>
																<a href="#">
																	<i class="ace-icon fa fa-caret-right bigger-110 invisible">&nbsp;</i>
																	This Month
																</a>
															</li>

															<li>
																<a href="#">
																	<i class="ace-icon fa fa-caret-right bigger-110 invisible">&nbsp;</i>
																	Last Month
																</a>
															</li>
														</ul>
													</div>
												</div>
											</div>

											<div class="widget-body">
												<div class="widget-main">
													<div id="piechart-placeholder"></div>

													<div class="hr hr8 hr-double"></div>

													<div class="clearfix">
														<div class="grid3">
															<span class="grey">
																<i class="ace-icon fa fa-facebook-square fa-2x blue"></i>
																&nbsp; likes
															</span>
															<h4 class="bigger pull-right">1,255</h4>
														</div>

														<div class="grid3">
															<span class="grey">
																<i class="ace-icon fa fa-twitter-square fa-2x purple"></i>
																&nbsp; tweets
															</span>
															<h4 class="bigger pull-right">941</h4>
														</div>

														<div class="grid3">
															<span class="grey">
																<i class="ace-icon fa fa-pinterest-square fa-2x red"></i>
																&nbsp; pins
															</span>
															<h4 class="bigger pull-right">1,050</h4>
														</div>
													</div>
												</div><!-- /.widget-main -->
											</div><!-- /.widget-body -->
										</div><!-- /.widget-box -->
									</div><!-- /.col -->
								</div><!-- /.row -->
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
<#include "../theBackGround-footer.html"/>
<script type="text/javascript">
$(function(){
	$("#VisitUserInfoVo").bootstrapTable('destroy').bootstrapTable({
		//url: ${ctx}+"/login/selectLoginListByUserName.html",
		//method:"post",
		url: "",
        sidePagination:'server',//指定服务器端分页
        //pageNumber: 1, //初始化加载第一页，默认第一页
        //pageSize:10,//单页记录数
        queryParams: function (params) {
            return {
            	userName:"${userName!''}",//其实应该传主键id
                pageSize: params.limit,
                pageNumber: params.offset,
                sortOrder: params.order,
                sortName: params.sort
            }
        },
        striped:true,
        showAdd:true,
        locale: "zh-CN",
        /*columns: [{
            field: 'Number',
            title: '序号',
            align: "center",
            width:'3%',
            formatter: function (value, row, index) {
                return index + 1;
            }
        },{
            field: 'ip',
            title: 'ip',
            align: "center",
            width:'15%'
        },{
            field: 'ipAddress',
            title: 'ipAddress',
            align: "center",
            width:'15%'
        },{
            field: 'visitDate',
            title: '访问日期',
            align: "center",
            width:'15%',
            formatter: function (value, row, index) {
            	if(value != null && value != "" && value != undefined && value != "undefined"){
            		return wDateFormat(new Date(value), "yyyy-MM-dd HH:mm:ss")
            	}else{
            		return value;
            	}
            }
        }],*/
        onLoadSuccess:function(data){
            alert(data.total);
        }
	});
});
</script>