<#include "../theBackground-header.html"/>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>菜单管理 <span class="c-gray en">&gt;</span>菜单维护 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<table id="menuTable"></table>
</div>
<script type="text/javascript">
$("#menuTable").bootstrapTable("destroy").bootstrapTable(
		{
		    url: "",
		    height: 580,
		    pagination: true,
		    pageList: [20, 30,50, 100],
		    pageSize: 20,
		    sidePagination: "server",
		    queryParams: function (params) {
		        return {
		        	parentCode:$("#parentCode_").val(),
		            pageSize: params.limit,
		            pageNumber: params.offset,
		            sortOrder: params.order,
		            sortName: params.sort
		        }
		    },
		    striped:true,
		    showAdd:true,
		    addMethod:'addModel',//增加方法名
		    showEdit:true,
		    editMethod:'editRows',//编辑方法名
		    showDel:true,
		    delMethod:'deleteRows',//删除发方法名
		    clickToSelect: true,
		    toolbar: "#toolbar",
		    showRefresh: true, 
		    locale: "zh-CN",
		    columns: [{
		        field: "select",
		        checkbox: true,
		        width:'2%',
		        align: "center",
		        valign: "middle"
		   },{
		        field: 'Number',
		        title: '序号',
		        align: "center",
		        width:'3%',
		        formatter: function (value, row, index) {
		            return index + 1;
		        }
		    }, {
		        field: 'depCode',
		        title: '部门代码',
		        align: "center",
		        width:'5%',
		    },{
		        field: 'depName',
		        title: '部门名称',
		        align: "center",
		        width:'8%',
		    },
		    {
		        field: 'tel',
		        title: '联系电话',
		        align: "center",
		        width:'5%',
		    },
		    {
		        field: 'acCode',
		        title: 'GROUP',
		        align: "center",
		        width:'7%',
		    },
		    {
		        field: 'ilsType',
		        title: '二类标准A/B',
		        align: "center",
		        width:'5%',
		    },
		    {
		        field: 'validFlag',
		        title: '是否有效',
		        align: "center",
		        width:'5%'
		    },
		    {
		        field: 'remarks',
		        title: '备注',
		        align: "center",
		        width:'27%',
		        formatter:function (value) {
		        	return formatterData(value);
		        }
		    }]
		}
		);
</script>
<#include "../theBackground-footer.html"/>