<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>看吧</title>
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="stylesheet" href="/css/bootstrap.css">  
<link rel="stylesheet" href="/css/pagination.css">  
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- 分页 -->
<script src="/js/jquery.pagination.js"></script>
<!-- 回到顶部特效 -->
<script src="/js/scrolltopcontrol.js"></script>
<style>
body{
    font-size: 16px;
    background-color:#D6D5B7;
}
#n{margin:10px auto; width:920px; border:1px solid #CCC;font-size:12px; line-height:30px;}
#n a{ padding:0 4px; color:#333}
</style>
</head>
<body>
<!-- 导航栏 -->
<nav class="navbar navbar-default" role="navigation" style="background:#AEEEEE;">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="#"><!-- <img alt="看吧" src="..."> -->搜你所搜，看你所看！</a>
	</div>
	<div>
		<ul class="nav nav-pills" style="margin-top:10px;">
			<li><a href="#" onclick="findMovieByParam('teleplay')">电视剧</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					电影
				</a>
				 <#if movieCategoryList?exists && (movieCategoryList?size > 0)>
   					<!-- 循环取值 -->
   					<ul class="dropdown-menu">
   					<#list movieCategoryList as movieCategory>
   						<li><a href="#" class="movieCategory" id="${movieCategory.movieCategoryCode}" onclick="findMovieByParam('${movieCategory.movieCategoryCode}')">${movieCategory.movieCategoryName}</a></li>
   					</#list>
   					</ul>
   				</#if>
				<!-- <ul class="dropdown-menu">
					<li><a href="#" onclick="findMovieByParam(1)">动作</a></li>
					<li><a href="#" onclick="findMovieByParam(1)">科幻</a></li>
					<li><a href="#" onclick="findMovieByParam(1)">爱情</a></li>
					<li><a href="#" onclick="findMovieByParam(1)">文艺</a></li>
				</ul> -->
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					影片展示方式
				</a>
				<ul class="dropdown-menu">
					<li><a href="#" onclick="setShowType('picture')">图片方式显示</a></li>
					<li><a href="#" onclick="setShowType('list')">列表方式显示</a></li>
				</ul>
			</li>
			<!-- <li>
			<#if showType?exists && (showType == "picture")>
			<select id="show_type_id" onchange="setShowType()">
			<option id="picture_id" value="picture" selected="selected">图片方式显示</option>
			<option id="list_id" value="list">列表方式显示</option>
			</select>
   			</#if>
			<#if showType?exists && (showType == "list")>
			<select id="show_type_id" onchange="setShowType()">
			<option id="picture_id" value="picture">图片方式显示</option>
			<option id="list_id" value="list" selected="selected">列表方式显示</option>
			</select>
   			</#if>
			</li> -->
			<#if showType?exists && (showType == "picture")>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					每行显示影片条数
				</a>
				<ul class="dropdown-menu">
					<li><a href="#" onclick="refreshMovieDataByRowNum(2)">每行2个</a></li>
					<li><a href="#" onclick="refreshMovieDataByRowNum(4)">每行4个</a></li>
					<li><a href="#" onclick="refreshMovieDataByRowNum(6)">每行6个</a></li>
					<li><a href="#" onclick="refreshMovieDataByRowNum(12)">每行12个</a></li>
				</ul>
			</li>
			</#if>
		</ul>
	</div>
	</div>
</nav>

<!-- 内容展示区域 -->
<div class="container">
   <!-- 存在电影资源 -->
   <#if movieList?exists && (movieList?size > 0)>
   			<#if showType?exists && (showType == "picture")>
			<!-- 循环取值 -->
   			<#list movieList as rowMovieList>
   			<!-- 默认每四个一行 -->
   			<div class="row">
   			<#list rowMovieList as movie>
				<div class="col-sm-${12/rowNum}">
				<!-- onclick='goToThisPage("${movie.movieId!''}")' -->
					<a href="/mainPage/movieDetail.html?movieId=${movie.movieId!''}" > <img
						style="height:235px; width:100%;" src="${movie.imgUrl}"></br>${movie.movieName!''}
					</a>
				</div>
		  	</#list>
		  	</div>
			</#list>
   			</#if>
   			
			<#if showType?exists && (showType == "list")>
				<!-- 循环取值 -->
   				<#list movieList as movie>
   				<div class="row">
					<a href="/mainPage/movieDetail.html?movieId=${movie.movieId!''}">${movie.movieName!''}
					</a>
				</div>
				</#list>
   			</#if>
   </#if>
   <!-- 隐藏查看的影片类型 -->
   <input id="category_id" type="hidden" value="${category!''}">
   <!-- 隐藏每行显示数据 -->
   <input id="rowNum_id" type="hidden" value="${rowNum!''}">
   <!-- 隐藏数据显示方式-->
   <input id="showType_id" type="hidden" value="${showType!''}">
</div>
<!-- 底部分页条 -->
<div>
<div class="M-box" style="margin-top:20px;margin-left:18%;"></div>
</div>
</body>
<script type="text/javascript">
$(function() {
	$(".M-box").pagination({
		current:${pagingUtil.currentPage},
	    pageCount:${pagingUtil.totalPageSize},
	    count:3,
	    jump:true,
	    coping:true,
	    homePage:'首页',
	    endPage:'尾页',
	    prevContent:'上页',
	    nextContent:'下页',
	    callback:function(api){
	    	var nextPage = api.getCurrent();
	    	if( nextPage != null && nextPage != ""){
	    		nextPage =  nextPage;
        	}else{
        		nextPage = 1;
        	}
        	var pathName = document.location.pathname;
            var index = pathName.substr(1).indexOf("/");
            var category = $("#category_id").val();
            var rowNum = $("#rowNum_id").val();
            var showType = $("#showType_id").val();
            window.location.href=pathName.substr(0,index+1)+"/mainPage.html?currentPage="+nextPage+"&category="+category+"&pageSize="+${pagingUtil.pageSize}+"&rowNum="+rowNum+"&showType="+showType;
        }
	});
	//遍历每页显示记录数   将对应的option选中
	$(".pageSize option").each(function(){
		if(parseInt($(this).val()) != 12 && parseInt($(this).val()) == ${pagingUtil.pageSize}){
			$(this).prop("selected",true);
		}
	});
	//遍历影片类型   将对应的option选中
	/* $(".movieCategory").each(function(){
		if($(this).attr("id") == $("#category_id").val()){
			$(this).prop("active",true);
		}
	}); */
});

//根据影片类型及影片分类查找对应影片
function findMovieByParam(category){
	//隐藏影片类型
	$("#category_id").val(category);
	var showType = $("#showType_id").val();
	var pathName = document.location.pathname;
    var index = pathName.substr(1).indexOf("/");
    var rowNum = $("#rowNum_id").val();
    window.location.href=pathName.substr(0,index+1)+"/mainPage.html?currentPage=1"+"&category="+category+"&pageSize="+${pagingUtil.pageSize}+"&rowNum="+rowNum+"&showType="+showType;
}
//根据影片类型及影片分类查找对应影片
function setShowType(showType){
	//隐藏数据展示方式
	$("#showType_id").val(showType);
	var pathName = document.location.pathname;
    var index = pathName.substr(1).indexOf("/");
    var rowNum = $("#rowNum_id").val();
	var category = $("#category_id").val();
    window.location.href=pathName.substr(0,index+1)+"/mainPage.html?currentPage=1"+"&category="+category+"&pageSize="+${pagingUtil.pageSize}+"&rowNum="+rowNum+"&showType="+showType;
}
//根绝影片id查看影片详情
function goToThisPage(movieId){
	var pathName = document.location.pathname;
    var index = pathName.substr(1).indexOf("/");
    window.open(pathName.substr(0,index+1)+"/movieDetail.html?movieId="+movieId);
}
//根据更改的每页显示记录数   重新加载数据
function refreshMovieData(){
	var pathName = document.location.pathname;
	var index = pathName.substr(1).indexOf("/");
	var category = $("#category_id").val();
	var rowNum = $("#rowNum_id").val();
	var showType = $("#showType_id").val();
	window.location.href=pathName.substr(0,index+1)+"/mainPage.html?currentPage=1"+"&category="+category+"&pageSize="+$(".pageSize").val()+"&rowNum="+rowNum+"&showType="+showType;
}
//每行显示电影数目   重新加载数据
function refreshMovieDataByRowNum(rowNum){
	var pathName = document.location.pathname;
	var index = pathName.substr(1).indexOf("/");
	var category = $("#category_id").val();
	var showType = $("#showType_id").val();
	window.location.href=pathName.substr(0,index+1)+"/mainPage.html?currentPage=1"+"&category="+category+"&pageSize="+$(".pageSize").val()+"&rowNum="+rowNum+"&showType="+showType;
}
</script>
</html>