<#assign ctx=request.getContextPath()>
<#include "../homePage-header.html"/>
<style>
body{
    font-size: 16px;
    background-color:#D6D5B7;
}
.footer{position:absolute;bottom:0;width:100%;height:100%;}
#n{margin:10px auto; width:920px; border:1px solid #CCC;font-size:12px; line-height:30px;}
#n a{ padding:0 4px; color:#333}
/*搜索框样式*/
div.search {
	padding:10px 0;
}
.search_form {
	position:relative;
	width:100px;
	margin:0 auto;
}
.search_input,.search_button {
	border:none;
	outline:none;
}
.search_input {
	width:95%;
	height:42px;
	padding-left:13px;
}
.search_button {
	height:42px;
	width:42px;
	cursor:pointer;
	position:absolute;
}
/*搜索框6*/
.bar6 .search_form {
	height:42px;
}
.bar6 .search_input {
	width:250px;
	border-radius:42px;
	border:2px solid #324B4E;
	background:#F9F0DA;
	transition:.3s linear;
	float:right;
}
.bar6 .search_input:focus {
	width:300px;
}
.bar6 .search_button {
	background:none;
	top:-3px;
	right:30px;
}
.bar6 .search_button:before {
	content:"Search";
	font-family:FontAwesome;
	color:#324b4e;
}
</style>
</head>
<body>
<!-- 导航栏 -->
<nav class="navbar navbar-default" role="navigation" style="background:#AEEEEE;">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="#"><!-- <img alt="看吧" src="..."> -->搜你所搜，看你所看！</a>
	</div>
	<div>
		<ul class="nav nav-pills" style="margin-top:10px;">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					国家
				</a>
				<#if countryList?exists && (countryList?size > 0)>
				<!-- 循环取值 -->
				<ul class="dropdown-menu">
					<#list countryList as country>
					<li><a href="#" class="country_class" id="${country}" onclick="findMovieByParam('countryName','${country}')">${country}</a></li>
				</#list>
				</ul>
				</#if>
			</li>
		    <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					年代
				</a>
				<!-- onclick="findMovieByParam('year',$('#year_search').val())"-->
				<ul class="dropdown-menu">
					<input id="year_search" value="${year!''}" onClick="WdatePicker({dateFmt:'yyyy'})" class="button button-rounded button-tiny" style="width:80px;background:#FC9D99;">
					<!--<button onclick="findMovieByParam('year',$('#year_search').val())"></button>-->
					<a href="#" onclick="findMovieByParam('year',$('#year_search').val())" class="button button-primary button-pill button-tiny">Go</a><!--button button-primary button-pill button-small-->
				</ul>
			</li>
			<li><a href="#" onclick="findMovieByParam('category','teleplay')">电视剧</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					电影
				</a>
				 <#if movieCategoryList?exists && (movieCategoryList?size > 0)>
   					<!-- 循环取值 -->
   					<ul class="dropdown-menu">
   					<#list movieCategoryList as movieCategory>
   						<li><a href="#" class="movieCategory" id="${movieCategory.movieCategoryCode}" onclick="findMovieByParam('category','${movieCategory.movieCategoryCode}')">${movieCategory.movieCategoryName}</a></li>
   					</#list>
   					</ul>
   				</#if>
				<!-- <ul class="dropdown-menu">
					<li><a href="#" onclick="findMovieByParam(1)">动作</a></li>
					<li><a href="#" onclick="findMovieByParam(1)">科幻</a></li>
					<li><a href="#" onclick="findMovieByParam(1)">爱情</a></li>
					<li><a href="#" onclick="findMovieByParam(1)">文艺</a></li>
				</ul> -->
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					影片展示方式
				</a>
				<ul class="dropdown-menu">
					<li><a href="#" class="picture_class" id="picture" onclick="findMovieByParam('showType','picture')">图片方式显示</a></li>
					<li><a href="#" class="picture_class" id="list" onclick="findMovieByParam('showType','list')">列表方式显示</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					每行显示影片条数
				</a>
				<ul class="dropdown-menu">
					<li><a href="#" class="rowNum_class" id="2" onclick="findMovieByParam('rowNum',2)">每行2个</a></li>
					<li><a href="#" class="rowNum_class" id="4" onclick="findMovieByParam('rowNum',4)">每行4个</a></li>
					<li><a href="#" class="rowNum_class" id="6" onclick="findMovieByParam('rowNum',6)">每行6个</a></li>
					<li><a href="#" class="rowNum_class" id="12" onclick="findMovieByParam('rowNum',12)">每行12个</a></li>
				</ul>
			</li>
			<li>
			<!--搜索框-->
			<div class="search bar6" style="margin-left:250px;margin-top:-10px;">
				<form class="search_form">
					<input class="search_input" type="text" placeholder="请输入电影名称" name="movieName" id="movieName_search" value="${movieName!''}">
					<button class="search_button" type="button" onclick="findMovieByParam('movieName',$('#movieName_search').val())"></button>
				</form>
			</div>
			</li>
		</ul>

	</div>
	</div>
</nav>

<!-- 内容展示区域 -->
<div class="container">
   <!-- 存在电影资源 -->
   <#if movieList?exists && (movieList?size > 0)>
   			<#if showType?exists && (showType == "picture")>
			<!-- 循环取值 -->
   			<#list movieList as rowMovieList>
   			<!-- 默认每四个一行 -->
   			<div class="row">
   			<#list rowMovieList as movie>
				<div class="col-sm-${12/rowNum}">
				<!-- onclick='goToThisPage("${movie.movieId!''}")' -->
					<a href="/mainPage/movieDetail.html?movieId=${movie.movieId!''}" > <img
						style="height:235px; width:100%;" src="${movie.imgUrl}"></br>${movie.movieName!''}
					</a>
				</div>
		  	</#list>
		  	</div>
			</#list>
   			</#if>
   			
			<#if showType?exists && (showType == "list")>
				<!-- 循环取值 -->
   				<#list movieList as movie>
   				<div class="row">
					<a href="/mainPage/movieDetail.html?movieId=${movie.movieId!''}">${movie.movieName!''}
					</a>
				</div>
				</#list>
   			</#if>
   </#if>
   <!-- 隐藏查看的影片类型 -->
   <input id="category_id" type="hidden" value="${category!''}">
   <!-- 隐藏每行显示数据 -->
   <input id="rowNum_id" type="hidden" value="${rowNum!''}">
   <!-- 隐藏数据显示方式-->
   <input id="showType_id" type="hidden" value="${showType!''}">
   <!--国家-->
   <input id="countryName_id" type="hidden" value="${countryName!''}">
   <!--年代-->
   <input id="year_id" type="hidden" value="${year!''}">
   <!--电影名称-->
   <input id="movieName_id" type="hidden" value="${movieName!''}">
</div>
<!-- 底部分页条 -->
<div>
<div class="M-box" style="margin-top:20px;margin-left:18%;"></div>
</div>
<!--页脚-->
<footer>
	<nav class="navbar navbar-default" role="navigation" style="background:#AEEEEE;margin-top:25px;">
		<div class="container-fluid">
			&nbsp;&nbsp;&nbsp;&nbsp;本站严禁提供任何带色情，违法内容的影片！欢迎大家监督，有问题可发邮件到seeMovie@seemovies.com.cn,本站所有资源来源于网友交流,只供网络测试、请在24小时内删除所下内容，开始清理无版权的内容，请大家支持正版到影院观看或购买正版CD!
		</div>
	</nav>
</footer>
</body>
<script type="text/javascript">
$(function() {
	$(".M-box").pagination({
		current:${pagingUtil.currentPage},
	    pageCount:${pagingUtil.totalPageSize},
	    count:3,
	    jump:true,
	    coping:true,
	    homePage:'首页',
	    endPage:'尾页',
	    prevContent:'上页',
	    nextContent:'下页',
	    callback:function(api){
	    	var nextPage = api.getCurrent();
	    	if( nextPage != null && nextPage != ""){
	    		nextPage =  nextPage;
        	}else{
        		nextPage = 1;
        	}
        	var pathName = document.location.pathname;
            var index = pathName.substr(1).indexOf("/");
            var category = $("#category_id").val();
            var rowNum = $("#rowNum_id").val();
            var showType = $("#showType_id").val();
            var countryName = $("#countryName_id").val();
            var year = $("#year_id").val();
            var movieName = $("#movieName_search").val();
            window.location.href=pathName.substr(0,index+1)+"/mainPage.html?currentPage="+nextPage+"&category="+category+"&pageSize="+${pagingUtil.pageSize}+"&rowNum="+rowNum+"&showType="+showType+"&countryName="+countryName+"&year="+year+"&movieName="+movieName;
        }
	});
	//遍历每页显示记录数   将对应的option选中
	$(".pageSize option").each(function(){
		if(parseInt($(this).val()) == ${pagingUtil.pageSize}){
			$(this).prop("selected",true);
		}
	});
	//遍历影片类型   改变对应a标签背景色
	 $(".movieCategory").each(function(){
		if($(this).attr("id") == $("#category_id").val()){
            $(this).css("backgroundColor", "#FC9D99");
			/*$(this).prop("active",true);*/
		}
	});
    //遍历展示方式   改变对应a标签背景色
    $(".rowNum_class").each(function(){
        if($(this).attr("id") == $("#rowNum_id").val()){
            $(this).css("backgroundColor", "#FC9D99");
        }
    });
    //遍历每行显示条数   改变对应a标签背景色
    $(".picture_class").each(function(){
        if($(this).attr("id") == $("#showType_id").val()){
            $(this).css("backgroundColor", "#FC9D99");
        }
    });
    //遍历显示国家  改变对应a标签背景色
    $(".country_class").each(function(){
        if($(this).attr("id") == $("#countryName_id").val()){
            $(this).css("backgroundColor", "#FC9D99");
        }
    });
    //将年代筛选条件附上值
    //$("#year_search").val(${year!''});
});

//多条件查询影片
function findMovieByParam(type,value){
    var currentPage = 1;
    if(type != null && type != '' && type != undefined && type != "undefined"){
        $("#"+type+"_id").val(value);
    }else{
        currentPage = ${pagingUtil.currentPage};
	}
    var pathName = document.location.pathname;
    var index = pathName.substr(1).indexOf("/");
    var pageSize = $(".pageSize").val();
    if(pageSize == null || pageSize == "" || pageSize == undefined || pageSize == "undefined"){
        pageSize = 24;
    }
    var category = $("#category_id").val();
    var rowNum = $("#rowNum_id").val();
    var showType = $("#showType_id").val();
    var countryName = $("#countryName_id").val();
    var year = $("#year_id").val();
    var movieName = $("#movieName_search").val();
    window.location.href=pathName.substr(0,index+1)+"/mainPage.html?currentPage="+currentPage+"&category="+category+"&pageSize="+pageSize+"&rowNum="+rowNum+"&showType="+showType+"&countryName="+countryName+"&year="+year+"&movieName="+movieName;
}
//根据影片id查看影片详情
function goToThisPage(movieId){
    var pathName = document.location.pathname;
    var index = pathName.substr(1).indexOf("/");
    window.open(pathName.substr(0,index+1)+"/movieDetail.html?movieId="+movieId);
}
/*
//根据影片名称查找影片
function findMovieByCountryName(countryName){
    //隐藏影片类型
    $("#countryName_id").val(countryName);
    var showType = $("#showType_id").val();
    var pathName = document.location.pathname;
    var index = pathName.substr(1).indexOf("/");
    var rowNum = $("#rowNum_id").val();
    var category = $("#category_id").val();
    window.location.href=pathName.substr(0,index+1)+"/mainPage.html?currentPage=1"+"&category="+category+"&pageSize="+${pagingUtil.pageSize}+"&rowNum="+rowNum+"&showType="+showType+"&countryName="+countryName;
}
//根据影片类型及影片分类查找对应影片
function setShowType(showType){
	//隐藏数据展示方式
	$("#showType_id").val(showType);
	var pathName = document.location.pathname;
    var index = pathName.substr(1).indexOf("/");
    var rowNum = $("#rowNum_id").val();
	var category = $("#category_id").val();
    var countryName = $("#countryName_id").val();
    window.location.href=pathName.substr(0,index+1)+"/mainPage.html?currentPage=1"+"&category="+category+"&pageSize="+${pagingUtil.pageSize}+"&rowNum="+rowNum+"&showType="+showType+"&countryName="+countryName;
}
//根据更改的每页显示记录数   重新加载数据
function refreshMovieData(){
	var pathName = document.location.pathname;
	var index = pathName.substr(1).indexOf("/");
	var pageSize = $(".pageSize").val();
	if(pageSize == null || pageSize == "" || pageSize == undefined || pageSize == "undefined"){
		return false;
	}
	var category = $("#category_id").val();
	var rowNum = $("#rowNum_id").val();
	var showType = $("#showType_id").val();
    var countryName = $("#countryName_id").val();
	window.location.href=pathName.substr(0,index+1)+"/mainPage.html?currentPage=1"+"&category="+category+"&pageSize="+pageSize+"&rowNum="+rowNum+"&showType="+showType+"&countryName="+countryName;
}
//每行显示电影数目   重新加载数据
function refreshMovieDataByRowNum(rowNum){
    $("#rowNum_id").val(rowNum);
	var pathName = document.location.pathname;
	var index = pathName.substr(1).indexOf("/");
	var category = $("#category_id").val();
	var showType = $("#showType_id").val();
    var countryName = $("#countryName_id").val();
	window.location.href=pathName.substr(0,index+1)+"/mainPage.html?currentPage=1"+"&category="+category+"&pageSize="+$(".pageSize").val()+"&rowNum="+rowNum+"&showType="+showType+"&countryName="+countryName;
}
*/
</script>
</html>