<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>看吧</title>
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="stylesheet" href="/css/bootstrap.css">  
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<!-- 导航栏 -->
<nav class="navbar navbar-default" role="navigation" style="background:#AEEEEE;">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="#"><!-- <img alt="看吧" src="..."> -->搜你所搜，看你所看！</a>
	</div>
	</div>
</nav>
<!-- 内容展示区域 -->
	<div class="container">
		<div class="row">
			<div style="float:left;width:50%;">
				<span style="margin-left:28%;background:#A4D3EE;width:60%;text-align:center;"><b>${movie.movieName}</b></span>
				<img style="height:600px;width:100%;" src="${movie.imgUrl}">
				<p>复制下载链接到迅雷下载</p>
				<a>${movie.downHref}</a>
			</div>
			<div style="float:left;width:50%;">
				<div>
				  <textarea style="margin-top:20px;height:295px;width:100%;resize:none;" disabled="disabled">${movie.describes!'当前影片暂无描述！'}</textarea>
				</div>
				<img style="height:300px; width:100%;" src="${movie.imgUrl2!''}">
			</div>
		</div>
	</div>
</body>
</html>